{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">
<style>
    .tips {
      position: absolute;

    }
    .paginate_button{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
</style>
{% endblock %}


{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}

    <div class="col-xs-12 col-sm-12 widget-container-col" id="iot-gate-list">
        <div class="widget-box widget-color-grey" id="widget-box-2">
            <div class="widget-header">

                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    {{title}}
                </h5>

                <span class="btn btn-default pull-right" id="table-refresh">
                    <i class="ace-icon fa fa-refresh"></i>
                </span>
                <span class="btn btn-default pull-right hidden-xs" id="table-offline_7d">
                    {{_('offline_7d')}}
                </span>
                <span class="btn btn-default pull-right hidden-xs" id="table-offline">
                    {{_('offline')}}
                </span>
                <span class="btn btn-default pull-right" id="table-online">
                    {{_('online')}}
                </span>
                <span class="btn btn-default pull-right" id="table-all">
                    {{_('all')}}
                </span>
                <span class="btn btn-default pull-right" id="bind_new">
                    {{_('bind_newgate')}}
                </span>
            </div>

            <div class="center hide" id="no_data">
                <h4 class="blue large lighter">未找到任何数据！</h4>
            </div>

            <div id="table_area">
                <table id="example"  class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="width: 15%">{{_('device_name')}}</th>
                            <th style="width: 25%">{{_('device_desc')}}</th>
                            <th style="width: 10%">{{_('device_status')}}</th>
                            <th style="width: 15%">{{_('last_updated')}}</th>
                            <th style="width: 15%">{{_('device_sn')}}</th>
                            <th style="width: 10%">{{_('device_ascription')}}</th>
                            <th style="width: 10%">{{_('operation')}}</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>
<!-- /.span -->

<!-- #add-newapp div -->
    <div class="col-xs-12 col-sm-12 hide" id="iot-add-newgate">
        <div class="widget-box widget-color-grey no-border">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter" id="iot-add-newgate-head">
                    <i class="ace-icon fa fa-table"></i>
                    {{_('Add New Gate TO')}}  {{iotsn }}
                </h5>
                <div class="btn btn-info pull-right" id="iot-add-newgate-close-btn">
                    <i class="ace-icon fa fa-close"></i>
                </div>
                <div class="btn btn-info pull-right" id="mytest-btn">
                    <i class="ace-icon fa fa-cog"></i>
                </div>
            </div>

            <div class="widget-box no-border">

            </div>


        </div>

    </div>
<!-- #add-newapp div -->

		<script src="/assets/iot_ui/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/iot_ui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.responsive.min.js"></script>

         <script type="text/javascript">

        {% include "templates/pages/gateways_list.js" %}

         </script>

{% endblock %}

