{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<style>
.infobox-data-number{font-size:44px}

</style>

{% endblock %}


{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}
<div class="page-content">

    <div class="row">
        <div class="col-sm-12 widget-container-col" id="q1">
            <div class="widget-box transparent" id="widget-box-1">
                <div class="widget-header">
                    <h4 class="widget-title lighter">网关概览</h4>

                    <div class="widget-toolbar no-border">

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">

                    <div class="col-sm-12 infobox-container">

                        <div class="col-sm-12 infobox infobox-grey">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-link"></i>
                            </div>

                            <div class="infobox-data" data-id="all">
                                <span class="infobox-data-number">{{userdevices.total|length}}</span>
                                <div class="infobox-content">网关总数</div>
                            </div>

                            <!--<div class="stat stat-success">8%</div>-->
                        </div>

                        <div class="col-sm-12 infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-link"></i>
                            </div>

                            <div class="infobox-data"  data-id="online">
                                <span class="infobox-data-number">{{userdevices.online|length}}</span>
                                <div class="infobox-content">在线网关</div>
                            </div>

                            <!--<div class="badge badge-success">-->
                                <!--+32%-->
                                <!--<i class="ace-icon fa fa-arrow-up"></i>-->
                            <!--</div>-->
                        </div>


                        <div class="col-sm-12 infobox infobox-red">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-link"></i>
                            </div>

                            <div class="infobox-data"  data-id="offline">
                                <span class="infobox-data-number">{{userdevices.offline|length}}</span>
                                <div class="infobox-content">离线网关</div>
                            </div>


                        </div>

                        <div class="col-sm-12 infobox infobox-red">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-link"></i>
                            </div>

                            <div class="infobox-data"  data-id="offline_7d">
                                <span class="infobox-data-number">{{userdevices.offline_7d|length}}</span>
                                <div class="infobox-content">离线超过一周网关</div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="space-24"></div>

</div>

 <script type="text/javascript">

{% include "templates/pages/iot_console.js" %}

 </script>
{% endblock %}

