{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">

<style>
    .paginate_button{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
     .btn{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
        .pagination{
        margin-left: 0px !important;
        margin-left: 0px !important;
    }
</style>
{% endblock %}

{% block myscript %}
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}

{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}
<div class="page-header">
    <h1>
        {{ doc.dev_name }}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {{ doc.sn }}
        </small>
        <span class="btn btn-success pull-right" id="switch-mode">
            切换到设备监视
        </span>
    </h1>
</div><!-- /.page-header -->



<div class="col-xs-12">
    <h3 class="header smaller lighter green">网关详情</h3>

     <div class="col-xs-12 col-sm-6">

            <div class="profile-user-info">

                <div class="profile-info-row">
                    <div class="profile-info-name"> name </div>

                    <div class="profile-info-value">
                        <span>{{ doc.dev_name }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Description </div>

                    <div class="profile-info-value">
                        <span>{{ doc.description }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Company </div>

                    <div class="profile-info-value">
                        <span>{{ doc.company }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Location </div>

                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span>Netherlands</span>
                        <span>Amsterdam</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> SN </div>

                    <div class="profile-info-value">
                        <span>{{ doc.sn }}</span>
                    </div>
                </div>



                <div class="profile-info-row">
                    <div class="profile-info-name"> Beta </div>

                    <div class="profile-info-value">
                        <span>{{ doc.use_beta }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Beta Start Time </div>

                    <div class="profile-info-value">
                        <span>{{ doc.use_beta_start_time }}</span>
                    </div>
                </div>


            </div>

    </div><!-- /.col -->

    <div class="col-xs-12 col-sm-6">

            <div class="profile-user-info">

                <div class="profile-info-row">
                    <div class="profile-info-name"> iot_version </div>

                    <div class="profile-info-value">
                        <span>{{ iot_version }}</span>
                        {% if iot_version < iot_lastver%}
                            <div class="btn btn-white btn-warning btn-bold" id="iot-update">
                            <i class="ace-icon fa fa-line-chart bigger-120 orange"></i>
                            更新到最新
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> skynet_version </div>

                    <div class="profile-info-value">
                        <span>{{ skynet_version }}</span>
                        {% if iot_version < skynet_lastver%}
                            <div class="btn btn-white btn-warning btn-bold" id="skynet-update">
                            <i class="ace-icon fa fa-line-chart bigger-120 orange"></i>
                            更新到最新
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Uptime </div>

                    <div class="profile-info-value">
                        <span>{{ uptime }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Start Time </div>

                    <div class="profile-info-value">
                        <span>{{ starttime }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Status </div>

                    <div class="profile-info-value">
                        <span>{{ doc.device_status }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> last_updated </div>

                    <div class="profile-info-value">
                        <span>{{ doc.last_updated }}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Public IP </div>

                    <div class="profile-info-value">
                        <span>{{ public_ip }}</span>
                    </div>
                </div>


            </div>

    </div><!-- /.col -->



</div><!-- /.btn-group -->

<div class="col-xs-12">
    <h3 class="header smaller lighter green">应用详情</h3>


    {% for key in applist %}

        <div class="col-xs-12 col-sm-12">
                <div class="profile-info-row">
                    <div class="profile-info-name" > appname: </div>
                    <div class="profile-info-value" data-value="{{ applist[key]['name'] }}"><span>{{ key }}</span></div>

                    <div class="profile-info-name"> version: </div>
                    <div class="profile-info-value"><span>{{ applist[key]['version'] }}</span></div>

                </div>
        </div>

    {% endfor %}


<div class="col-xs-12">
    <h3 class="header smaller lighter green">SIM卡状态</h3>


</div>

         <script type="text/javascript">

        {% include "templates/pages/iot_management.js" %}

         </script>

{% endblock %}