{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/dataTables.checkboxes.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/buttons.dataTables.min.css">

<style>
    .paginate_button{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
     .btn{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    div.dt-buttons {
        clear: both;
    }
    table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}
</style>
{% endblock %}


{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}

    <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
        <div class="widget-box widget-color-grey" id="widget-box-2">
            <div class="widget-header">

                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    {{title}}
                </h5>

                <span class="btn btn-default pull-right" id="table-refresh">
                    <i class="ace-icon fa fa-refresh"></i>
                </span>
                <span class="btn btn-default pull-right" id="event-hasread">
                    {{_('hasread')}}
                </span>
                <span class="btn btn-default pull-right" id="event-all">
                    {{_('all')}}
                </span>
                <span class="btn btn-default btn-success pull-right" id="event-unread">
                    {{_('unread')}}
                </span>
            </div>

            <div class="hide center" id="no_data">
                <h4 class="blue large lighter">未找到任何记录！</h4>
            </div>

            <div id="table_area">
            <table id="example"  class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><input name="select_all" value="1" type="checkbox"></th>
                        <th>{{_('device_sn')}}</th>
                        <th>{{_('error_type')}}</th>
                        <th>{{_('error_key')}}</th>

                        <th>{{_('error_level')}}</th>
                        <th>{{_('brief')}}</th>

                    </tr>
                </thead>

            </table>
            </div>
        </div>

    </div>
<!-- /.span -->


		<script src="/assets/iot_ui/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/iot_ui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.responsive.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.checkboxes.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.buttons.js"></script>

         <script type="text/javascript">

        {% include "templates/pages/iot_event.js" %}

         </script>

{% endblock %}

