{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
    <link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.gritter.min.css" />
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/bootstrap-duallistbox.min.css" />
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/bootstrap-multiselect.min.css" />
    <link rel="stylesheet" href="/assets/iot_ui/assets/css/select2.min.css" />
<style>

    #main-list {
      padding:10px 10px 10px 10px;

    }

    #member-list {
      padding:0px;
      margin:0px 0px 0px 0px;
        border:0px;
    }

    #structure-list {
      padding:0px;
      margin: 0px 0px 0px 0px;
        border:0px;
    }

    #add-group {
      padding:0px;
      margin: 0px 0px 0px 0px;
        border:0px;
    }

    #add-member {
      padding:0px;
      margin: 0px 0px 0px 0px;
        border:0px;
    }

    #structure-list-1 {
        border-right:0px;

    }

    #widget-box-1 {
        border:0px;
    }

    #widget-box-2 {
        border:0px;
    }

    #table-1 {
        padding:15px 0px 0px 10px;
        border:0px ;
    }



</style>
{% endblock %}


{% block myscript %}

<script src="/assets/iot_ui/assets/js/jquery.gritter.min.js"></script>

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}
<div class="col-xs-12 col-sm12" id="main-list">
<!-- #structure-list div -->

    <div class="col-xs-3 col-sm-3" id="structure-list">

        <div class="widget-box widget-color-grey no-border">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    {{_('Structure')}}
                </h5>
                <span class="btn btn-info pull-right">
                    <i class="ace-icon fa fa-backward"></i>
                </span>
                <span class="btn pull-right" id="structure-refresh">
                    <i class="ace-icon fa fa-refresh"></i>
                </span>
            </div>


            <div class="dd dd-draghandle" id="structure-list-1">
                <ol class="dd-list">

                <li class="dd-item dd2-item" data-id="15">
                    <div class="dd-handle dd2-handle">
                        <i class="normal-icon ace-icon fa fa-institution orange bigger-130"></i>

                        <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                    </div>
                    <div class="dd2-content btn-info"><span id="companyheadquarters">{{company}}</span>
                        <span class="pull-right btn-sm" data-rel="tooltip" data-placement="top" title="{{_('Add new group')}}" id="headquarters">
                        <i class="ace-icon fa fa-plus-square"></i>
                        </span>
                    </div>

                    <ol class="dd-list" id="group-list">
                        {% for g in groups %}

                        <li class="dd-item dd2-item" data-id="{{g.name}}">
                            <div class="dd-handle dd2-handle">
                                <i class="normal-icon ace-icon fa  fa-joomla bigger-130"></i>

                                <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                            </div>
                            <div class="dd2-content group_name">
                                <div class="col-xs-6 branch-desc" data-id="{{g.name}}" id="gp_{{g.name}}">{{g.group_name}}</div>
                                <div class="btn-sm pull-right branch-del" data-id="{{g.name}}">
                                    <i class="ace-icon fa fa-trash-o"></i>
                                </div>
                                <div class="btn-sm pull-right branch-edit" data-id="{{g.name}}">
                                    <i class="ace-icon fa fa-edit"></i>
                                </div>
                            </div>

                        </li>

                        {% endfor %}

                    </ol>
                </li>

            </ol>
            </div>

        </div>

    </div>

<!-- #structure-list div -->

<!-- #member-list div -->
    <div class="col-xs-9 col-sm-9" id="member-list">

        <div class="widget-box widget-color-grey no-border">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">
                    <i class="ace-icon fa fa-table"></i>
                    {{_('Member List')}}
                </h5>
                 <div class="btn btn-warning pull-right" data-rel="tooltip" data-placement="top" title="从当前节点中删除成员"  id="del-node-members">
                    <i class="ace-icon fa fa-trash-o"></i>
                </div>
                <div class="btn btn-info pull-right" data-rel="tooltip" data-placement="top" title="添加成员到当前节点" id="add-node-members">
                    <i class="ace-icon fa fa-plus-square"></i>
                </div>
                <span class="btn btn-default pull-right" id="table-refresh">
                    <i class="ace-icon fa fa-refresh"></i>
                </span>
            </div>

            <div id="table-1">
            <table id="example"  class="display hover stripe responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{_('member_name')}}</th>
                        <th>{{_('member_id')}}</th>
                        <th>{{_('operation')}}</th>
                    </tr>
                </thead>

            </table>
            </div>
        </div>

    </div>
<!-- #member-list div -->

<!-- #add-group div -->
    <div class="col-xs-12 col-sm-12 hide" id="add-group">
        <div class="widget-box widget-color-grey no-border">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter" id="add-group-head">
                    <i class="ace-icon fa fa-table"></i>
                    {{_('New Group')}}
                </h5>
                <div class="btn btn-info pull-right" id="add-group-close">
                    <i class="ace-icon fa fa-close"></i>
                </div>
            </div>

            <div class="widget-box no-border">
                <div class="widget-header">
                    <h4 class="widget-title" id="add-group-title">{{_('Define Group Name')}}</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <form>
                            <!-- <legend>Form</legend> -->
                            <div class="col-xs-4 col-sm-4"></div>
                            <fieldset>
                                <label>{{_('Group Name')}}</label>

                                <input type="text" placeholder="{{_('Group Name')}}" data-options="fgfg" id="new-group-name" />
                                <div class="help-block" id="newname-temp" data-id="idid">在文本框中输入你的组名.{{_('Input your group name in the text area')}}</div>

                            </fieldset>

                            <div class="form-actions center">
                                <button class="btn btn-info" type="button" id="btn-modify">
                                    <i class="ace-icon fa fa-check-square bigger-110"></i>
                                    {{_('Modify')}}
                                </button>

                                <button class="btn btn-info" type="button" id="btn-confirm">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    {{_('Confirm')}}
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset" id="btn-reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    {{_('Reset')}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

    </div>
<!-- #add-group div -->

<!-- #add-member div -->
    <div class="col-xs-12 col-sm-12 hide" id="add-member">
        <div class="widget-box widget-color-grey no-border">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter" id="add-member-head">
                    <i class="ace-icon fa fa-table"></i>
                    {{_('Add New Member')}}
                </h5>
                <div class="btn btn-info pull-right" id="add-member-close">
                    <i class="ace-icon fa fa-close"></i>
                </div>
            </div>

            <div class="widget-box no-border">
                <div class="widget-header">
                    <h4 class="widget-title">{{company}}</h4>
                </div>
                <!-- form CONTENT BEGINS -->
                <form class="form-horizontal" role="form">

                    <div class="hr hr-16 hr-dotted"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-top" for="duallist"> {{_('Possible members list')}}</label>

                        <div class="col-sm-8">
                            <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3" selected="selected">Option 3</option>

                            </select>


                        </div>
                    </div>

                    <div class="hr hr-16 hr-dotted"></div>
                    <div class="form-actions center">
                        <button class="btn btn-info" type="button" id="btn-add-members">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            {{_('Confirm')}}
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" id="btn-cancel">
                            <i class="ace-icon fa fa-ban bigger-110"></i>
                            {{_('Cancel')}}
                        </button>
                    </div>
                </form>
                <!-- form CONTENT ENDS -->

            </div>


        </div>

    </div>
<!-- #add-member div -->

</div>



    <div id="dialog-confirm" class="hide">
        <div class="alert alert-info bigger-110">
            {{_('The item will be permanently deleted and the members of the Group will be removed.')}}
        </div>

        <div class="space-6"></div>

        <p class="bigger-110 bolder center grey">
            <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
            {{_('Are you sure?')}}
        </p>
    </div>


<!-- #dialog-confirm -->
    <script src="/assets/iot_ui/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/iot_ui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="/assets/iot_ui/assets/js/dataTables.responsive.min.js"></script>
    <script src="/assets/iot_ui/assets/js/jquery.nestable.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="/assets/iot_ui/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/iot_ui/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="/assets/iot_ui/assets/js/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="/assets/iot_ui/assets/js/jquery.raty.min.js"></script>
    <script src="/assets/iot_ui/assets/js/bootstrap-multiselect.min.js"></script>
    <script src="/assets/iot_ui/assets/js/select2.min.js"></script>
    <script src="/assets/iot_ui/assets/js/jquery-typeahead.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($){

				$('.dd').nestable();

				$('.dd-handle a').on('mousedown', function(e){
					e.stopPropagation();
				});

				$('[data-rel="tooltip"]').tooltip();

			});
		</script>
     <script type="text/javascript">

{% include "templates/pages/iot_ent_structure.js" %}

     </script>

{% endblock %}

