{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">
<style>
    .paginate_button{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
     .btn{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
        .pagination{
        margin-left: 0px !important;
        margin-left: 0px !important;
    }
</style>
{% endblock %}

{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}
<div class="page-header visible-sm visible-md visible-lg">
    <h1>
        {{_('gateway')}} {{ doc.dev_name }}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {{_('Total  devices')}}:{{ vsn|length }}
        </small>
    </h1>
</div>

<div class="col-sm-12 left">

    <div class="btn btn-app btn-sm btn-light btn-yellow no-hover" devname="{{ doc.dev_name }}" devid="{{ doc.name }}">


        <span class="line-height-1 bigger-150 blue"> {{_('gateway')}} </span>

        <br>
<!--        <span class="line-height-1 smaller-90"> {{ doc.dev_name }} </span>-->
        <span class="line-height-1 smaller-90"> ... </span>
    </div>
    {% for dev in devices %}
    <div class="btn btn-app btn-sm btn-grey no-hover" devname="{{ dev.name }}" devid="{{ dev.sn }}">

        <span class="line-height-1 bigger-150"> {{_('device')}} </span>

        <br>
        <span class="line-height-1 smaller-90"> {{ loop.index }} </span>


    </div>
    {% endfor %}

</div>

<div class="col-sm-12">
    <div class="widget-box transparent" id="recent-box">
        <div class="widget-header">
            <div class="col-sm-5 visible-sm visible-md visible-lg">
            <h4 class="widget-title lighter smaller" id="cur_devname">
                {{_('device name')}}:{{ doc.dev_name }}
            </h4>
            </div>


            <span class="btn btn-default hide" id="manual_query">手动查询</span>
            <div class="widget-toolbar no-border">

                <ul class="nav nav-tabs" id="recent-tab">
                    <li class="active" id="cloud-data">
                        <a data-toggle="tab" href="#cloud-data-tab">{{_('Platform Data')}}</a>
                    </li>

                    <li id="locale-data">
                        <a data-toggle="tab" href="#locale-data-tab">{{_('Spot Data')}}</a>
                    </li>

                    <li class="hide" id="dev-message">
                        <a data-toggle="tab" href="#message-tab">{{_('Device Message')}}</a>
                    </li>

                    <li id="symlink-log">
                        <a data-toggle="tab" href="#log-tab">{{_('Gateway Log')}}</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-4">
                <div class="tab-content padding-8">
                    <div id="cloud-data-tab" class="tab-pane active">
                        <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
                            <div class="widget-box widget-color-grey" id="widget-box-2">
                                <div class="widget-header">
                                    <h5 class="widget-title bigger lighter">
                                        <i class="ace-icon fa fa-table"></i>
                                        {{_('Data List')}}
                                    </h5>


                                    <span class="btn pull-right">
                                    <label class="inline" id="auto_refresh">
                                        <small class="muted">自动刷新:</small>

                                        <input id="gritter-light" checked=" " type="checkbox" class="ace ace-switch ace-switch-5" />
                                        <span class="lbl middle"></span>
                                    </label>
                                    </span>
                                </div>

                                <div>
                                <table id="RTValue-Table"  class="display responsive nowrap tooltip-options" data-toggle="tooltip" cellspacing="0" width="100%" title="<h3>点击第2列查看历史数据</h3>">
                                    <thead>
                                        <tr>
                                            <th>{{_('Name')}}</th>
                                            <th>{{_('Description')}}</th>
                                            <th>{{_('Value')}}</th>
                                            <th>{{_('Quality')}}</th>
                                            <th>{{_('TimeStamp')}}</th>

                                        </tr>
                                    </thead>

                                </table>
                            </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.#cloud-data-tab -->

                    <div id="locale-data-tab" class="tab-pane">

                    </div>
                    <!-- /.#locale-data-tab -->

                    <div id="message-tab" class="tab-pane">

                    </div>
                    <!-- /.#message-tab -->

                    <div id="log-tab" class="tab-pane hide">

                    </div>
                    <!-- /.#log-tab -->

                </div>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
</div><!-- /.col -->


<!-- /.span -->


		<script src="/assets/iot_ui/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/iot_ui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.responsive.min.js"></script>
         <script type="text/javascript">

        {% include "templates/pages/iot_devinfo.js" %}

         </script>

{% endblock %}

