{% extends "templates/iot_ui_base.html" %}

{% block mystyle %}
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="/assets/iot_ui/assets/css/responsive.dataTables.min.css">
<style>
    .paginate_button{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
</style>
{% endblock %}


{% block myscript %}

{% endblock %}




{% block content %}
{% include "templates/iot_ui_breadcrumbs.html" %}

<div class="page-header">
    <h1>
        {{_('Details')}}
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            xxxxxx
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Variable or label')}} </div>

        <div class="profile-info-value">
            <span class="editable" id="error_key">{{ error_key }}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Device for event')}} </div>

        <div class="profile-info-value">
            <i class="fa fa-map-marker light-orange bigger-110"></i>
            <span class="editable" id="device">{{ device }}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Event Type')}} </div>

        <div class="profile-info-value">
            <span class="editable" id="error_type">{{ error_type }}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Event Level')}} </div>

        <div class="profile-info-value">
            <span class="editable" id="error_level">{{ error_level }}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Occurrence Time')}} </div>

        <div class="profile-info-value">
            <span class="editable" id="occurrence_time">3 hours ago</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> {{_('Description')}} </div>

        <div class="profile-info-value">
            <span class="editable" id="error_info">{{ error_info }}</span>
        </div>
    </div>
</div>



		<script src="/assets/iot_ui/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/iot_ui/assets/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="/assets/iot_ui/assets/js/dataTables.responsive.min.js"></script>

         <script type="text/javascript">

        {% include "templates/pages/iot_event_info.js" %}

         </script>

{% endblock %}

