    <!-- /.navbar-container -->
		<div class="navbar-container ace-save-state col-xs-12 col-sm-12" id="navbar-container">
			

				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="/iot_console" class="navbar-brand">
						<small>
							<i class="fa fa-leaf green"></i>
							{{_('Iot Platform')}}
						</small>
					</a>
				</div>

				<!--顶部导航-->
				<div class="navbar-buttons navbar-header pull-right hidden-xs" role="navigation">

					<ul class="nav ace-nav">



						<!--消息通知-->
						<li class="purple dropdown-modal">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-bell icon-animated-bell"></i>
								<span class="badge badge-important" id="unread_mes1"></span>
							</a>

							<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-exclamation-triangle"></i>
									<span id="unread_mes2"></span> {{_('Notifications')}}
								</li>

								<li class="dropdown-content">
									<ul class="dropdown-menu dropdown-navbar navbar-pink">
										<li>
											<a href="/iot_event">
												<div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														{{_('Fault message')}}
													</span>
													<span class="pull-right badge badge-info" id="unread_mes3"></span>
												</div>
											</a>
										</li>

										<li>
											<a href="#">
												<div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														{{_('Service message')}}
													</span>
													<span class="pull-right badge badge-info">0</span>
												</div>
											</a>
										</li>
									</ul>
								</li>

								<li class="dropdown-footer">
									<a href="/iot_event">
										{{_('See all notifications')}}
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>
						<!--消息通知-->

						<!--顶部菜单-->
						{% if isCompanyAdmin %}
						<li class="grey">
							<a href="/iot_ent_structure">
								<span>{{_('Membership')}}</span>
							</a>
						</li>
						{% endif %}

						<li class="grey">
							<a href="/iot_bunchcode">
								<span>{{_('My BunchCode')}}</span>
							</a>
						</li>


						<!--顶部菜单-->

						<!--右上角用户信息-->
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/assets/iot_ui/assets/images/avatars/user.jpg" alt="Jason's Photo" />
								<span>
									{{fullname}}
								</span>
<!--								<span class="user-info">
									<small>{{_('Welcome')}}</small>
									{{fullname}}
								</span>-->

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

<!--
								<li>
									<a href="/me">
										<i class="ace-icon fa fa-user"></i>{{_('My Account')}}</a>
								</li>
								-->



								<li class="divider"></li>

								<li>
									<a href="/?cmd=web_logout">
										<i class="ace-icon fa fa-power-off"></i>
										{{_('Logout')}}
									</a>
								</li>
							</ul>
						</li>
						<!--右上角用户信息-->


						<!--语言切换-->
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span id="current_Language">
									{% if language=="zh" %}
										简体中文
									{% else %}
										English
									{% endif %}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

								<li id="switch_Language">
									<a href="#">
										<span>
											{% if language=="zh" %}
												English
											{% else %}
												简体中文
											{% endif %}
										</span>
									</a>
								</li>

							</ul>
						</li>
						<!--语言切换-->
					</ul>
				</div>
				<!--顶部导航-->

			
		</div>

		<script type="text/javascript">

        {% include "templates/iot_ui_base.js" %}

         </script>

		<!-- /.navbar-container -->